.boxModel-box {

    min-height:400px;
    background-color: blueviolet;
      
}

.boxModel-box-1{

    width: 100px;
    height: 100px;
    background: tomato;
    margin: 1px;

}


.boxModel-row{

    display: flex;
    flex-direction: row;

}

.boxModel-column{

    display: flex;
    flex-direction: column;

}

.boxModel-justify-start{

    justify-content: flex-start;

}


.boxModel-justify-center{

    justify-content: center;

}

.boxModel-justify-end{

    justify-content: flex-end;

}

.boxModel-align-start{

    align-items: flex-start;

}

.boxModel-align-center{

    align-items: center;

}

.boxModel-align-end{

    align-items: flex-end;

}