.parentContainerboxmodel {

    background: skyblue;
    padding: 10px;

}


.headingBoxmodel {

    margin-top: 10px;

}




.flexArchitecture {

    width: 700px;
    height: 400px;

}

.mainBox {

    width: 100%;
    height: 350px;
    background: lightgreen;
    padding: 5px;
   
}

.boxModel-1,
.boxModel-2,
.boxModel-3 {

    height: 100px;
    width: 100px;
    background: tomato;
    margin-right: 10px;
    margin-top: 10px;


}